@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('~/assets/scss/variables.scss');

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--yw-clr-background);
    color: var(--yw-clr-text);
    
    max-height: 100%;
	overflow-x: hidden;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
	box-sizing: border-box;

	::-webkit-scrollbar
	{
		width: 12px;  /* for vertical scrollbars */
		height: 12px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track
	{
		background: transparent;
	}

	::-webkit-scrollbar-thumb
	{
		background: var(--yw-clr-red);
	}
}

h1 {
    
    font-size: 48px;
    line-height: 56px;
    color: var(--yw-clr-text);

    & > span {
        color: var(--yw-clr-text-accent);
    }
}

p {
    font-size: 24px;
    line-height: 28px;
    color: var(--yw-clr-text);

    & > span {
        color: var(--yw-clr-red);
    }
}

button {
    position: relative;
	overflow: hidden;

    font-size: 20px;
    font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.5px;
    color: var(--yw-clr-white);

    padding: 16px 32px;

    background: var(--yw-clr-black);

	border: none;
    border-radius: 46px;
    cursor: pointer;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 0.15s;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	& > span {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.5px;
		color: var(--yw-clr-white);
	}
	
	// add center circle hover animation
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0) scale(0);
		width: calc(35vw + 40vh);
		height: calc(35vw + 40vh);
		background: var(--yw-clr-red);
		border-radius: 50%;
		transition: 0.5s;
		z-index: -1;
	}

	&:hover {
		&::before {
			z-index: -1;
			transform: translate3d(-50%, -50%, 0) scale(1);
		}
	}

	@media (max-width: 768px) {
		font-size: 16px;
		
		& > span {
			font-size: 16px;
		}
	}
}

#yw-app {
    width: 100%;
    height: 100%;
}

.layout {
    min-height: 100dvh;
}

$number-of-options: 5;
#form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	width: 100%;
	margin-bottom: 32px;

	#form-title {
		margin-top: 0;
		font-weight: 400;
		text-align: center;
	}
	#test-amount-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 100%;
		height: 50px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 8px;
			width: 100%;
			//width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 24px;
			background: linear-gradient(90deg, rgba(69,180,242,1) 0%, rgba(69,180,242,0.2886729691876751) 35%, rgba(69,180,242,1) 56%, rgba(69,180,242,1) 100%);
		}
		& > label.second, & > label.fourth {
			@media (max-width: 768px) {
				&::before {
					content: none;
				}
			}
		}
		input, label {
			box-sizing: border-box;
			flex: 1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
			user-select: none;
			cursor: pointer;
		}
		label {
			display: inline-block;
			position: relative;
			height: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
			user-select: none;
			cursor: pointer;

            color: rgba(0, 0, 0, 0.60);
			text-align: center;
			font-family: Inter;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.5px;
            &::before {
				content: attr(data-test-amount);
				position: absolute;
				left: 50%;
				width: 100%;
				transform: translate(-50%, 45px);
				letter-spacing: 0.4px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				background: transparent;
				border-radius: 50%;
				pointer-events: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.1);
			}
		}
		input {
			display: none;
			&:checked {
				+ label::before {
					font-weight: 400;
					opacity: 1;
				}
				+ label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(1);
				}
				~ #test-amount-pos {
					opacity: 1;
				}
				@for $i from 1 through $number-of-options {
					&:nth-child(#{$i * 2 - 1}) ~ #test-amount-pos {
						left: #{($i * 20%) - 10%};
					}
				}
			}
		}
		#test-amount-pos {
			display: block;
			position: absolute;
			top: 50%;
			width: 24px;
			height: 24px;
			background: #45B4F2;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			border: 2px solid #fff;
			opacity: 0;
			z-index: 2;
		}
	}
	&:valid {
		#test-amount-slider {
			input {
				+ label::before {
					transform: translate(-50%, 45px);
					transition: all 0.15s linear;
				}
				&:checked + label::before {
					transform: translate(-50%, 45px);
					transition: all 0.15s linear;
				}
			}
		}
	}
}