:root {
    --yw-clr-red: #b50034;
    --yw-clr-blue: #0273bb;
    --yw-clr-black: #191919;
    --yw-clr-white: #ffffff;
    
    --yw-clr-background: var(--yw-clr-white);
    --yw-clr-text-title: var(--yw-clr-black);
    --yw-clr-text-accent: var(--yw-clr-red);
    --yw-clr-text-subtitle: var(--yw-clr-red);
    --yw-clr-text: var(--yw-clr-black);
    --yw-clr-text-light: var(--yw-clr-white);
    --yw-clr-text-link: var(--yw-clr-blue);

    /*--yw-clr-background: #ECDBBA;
    --yw-clr-text-title: #405c8a;
    --yw-clr-text-subtitle: #C84B31;
    --yw-clr-text: #191919;*/
}